@use '../../../../styles/tokens' as tokens;

.presence {
  display: inline-block;

  width: 10px;
  height: 10px;

  background: tokens.$text-gray;
  border-radius: 50%;

  &.online {
    background: tokens.$success;
  }

  &-wrap {
    display: inline-flex;
    align-items: center;

    gap: 8px;
  }
}