.presence {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #686868;
}

.presence.online {
  background: #92c83e;
}

.presence-wrap {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
