@use '../../../../styles/breakpoints' as bp;

.login {
  &-card {
    min-height: 0;
  }

  &-form {
    margin-top: 34px;
    gap: 28px;

    .forgot {
      &-link {
        justify-self: center;
        margin-top: -4px;
      }
    }

    @include bp.mobile {
      margin-top: 22px;
      gap: 18px;

      .auth-field-wrapper {
        gap: 22px;
      }

      .forgot-link {
        margin-top: 2px;
      }

      .auth-button-row {
        flex-wrap: nowrap;
      }
    }

    @include bp.widescreen {
      margin-top: 38px;
      gap: 30px;
    }
  }
}
