@use '../../../styles/tokens' as tokens;
@use '../../../styles/breakpoints' as bp;

.workspace {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100dvh;
  background: tokens.$background;

  .workspace-body {
    display: grid;
    grid-template-columns: 300px minmax(0, 1fr);
    min-height: 0;
    padding: 0 20px 20px;
    gap: 20px;
    transition: grid-template-columns tokens.$motion-base;

    &.collapsed {
      grid-template-columns: 76px minmax(0, 1fr);
    }

    &.conversation-open {
      app-workspace-sidebar {
        @include bp.mobile {
          display: none;
        }
      }
    }

    &:not(.conversation-open) {
      .workspace-content {
        @include bp.mobile {
          display: none;
        }
      }
    }

    @include bp.mobile {
      grid-template-columns: 1fr;
      padding: 0;

      &.collapsed {
        grid-template-columns: 1fr;
      }
    }

    @include bp.widescreen {
      grid-template-columns: 340px minmax(0, 1fr);
      padding: 0 24px 24px;
      gap: 24px;

      &.collapsed {
        grid-template-columns: 82px minmax(0, 1fr);
      }
    }
  }

  .workspace-content {
    min-width: 0;
    overflow: hidden;
    border-radius: 30px;
    background: tokens.$white;
    box-shadow: 0 2px 8px #0000000a;

    @include bp.mobile {
      min-height: calc(100dvh - 118px);
      border-radius: 0;
      box-shadow: none;
    }
  }
}
