@use '../../../../../styles/tokens' as tokens;

.search {
  position: relative;
  max-width: 560px;
  flex: 1;

  input {
    width: 100%;
    border: 0;
    border-radius: 22px;
    padding: 11px 18px;
    outline: 1px solid tokens.$border;
    background: tokens.$white;

    &:focus {
      outline: 2px solid tokens.$purple-1;
    }
  }

  .results {
    position: absolute;
    z-index: 30;
    top: calc(100% + 8px);
    right: 0;
    left: 0;
    display: grid;
    max-height: 360px;
    overflow: auto;
    padding: 8px;
    border-radius: 16px;
    background: tokens.$white;
    box-shadow: 0 6px 24px #0000001f;

    button {
      display: grid;
      width: 100%;
      border: 0;
      border-radius: 12px;
      padding: 10px;
      gap: 3px;
      text-align: left;
      background: transparent;
      color: tokens.$text;

      &:hover {
        background: tokens.$background;
      }
    }

    span,
    p {
      color: tokens.$text-gray;
      font-size: 13px;
    }
  }
}
