@use '../../../../../styles/tokens' as tokens;

.message {
  &-list {
    min-height: 240px;
    overflow: auto;

    .empty {
      &-state {
        text-align: center;

        display: grid;
        place-content: center;

        min-height: 240px;

        color: tokens.$text-gray;
      }
    }

    .date {
      &-separator {
        font-size: 13px;

        display: flex;
        align-items: center;

        margin: 12px 0;
        gap: 12px;

        color: tokens.$text-gray;

        &::before,
        &::after {
          flex: 1;

          height: 1px;
          content: '';

          background: tokens.$border;
        }

        span {
          padding: 4px 12px;

          background: tokens.$white;
          border: 1px solid tokens.$border;
          border-radius: 14px;
        }
      }
    }
  }
}