@use '../../../../styles/breakpoints' as bp;

.reset-card {
  min-height: 430px;
}

.reset-email {
  margin: 20px auto 0;
  color: #686868;
  text-align: center;
}

.reset-form {
  margin-top: 34px;
  gap: 28px;
}

.reset-feedback {
  margin-top: 26px;
}

@include bp.mobile {
  .reset-card {
    min-height: 0;
  }

  .reset-form {
    margin-top: 26px;
    gap: 22px;
  }
}

@include bp.widescreen {
  .reset-card {
    min-height: 445px;
  }
}
