@use '../../../../styles/tokens' as tokens;
@use '../../../../styles/breakpoints' as bp;

.workspace {
  &-home {
    display: grid;
    text-align: center;
    place-content: center;
    
    min-height: 100%;
    padding: 48px;

    .eyebrow {
      font-weight: 700;
    
      margin: 0;
    
      color: tokens.$purple-1;
    }

    h1 {
      font-size: 30px;
    
      margin: 8px 0;
    }

    p:last-child {
      margin: 0;
    
      color: tokens.$text-gray;
    }

    @include bp.mobile {
      padding: 24px;
    }
  }
}