@use '../../../../styles/tokens' as tokens;
@use '../../../../styles/breakpoints' as bp;

.forgot {
  &-card {
    width: min(700px, calc(100vw - 48px));

    @include bp.mobile {
      width: calc(100vw - 32px);
    }
  }

  &-form {
    gap: 40px;

    @include bp.mobile {
      margin-top: 26px;
      gap: 22px;
    }
  }

  &-hint {
    font-size: 18px;
    line-height: 1.2;
    text-align: center;

    max-width: 410px;
    margin: -4px auto 0;

    color: tokens.$text-gray;

    @include bp.mobile {
      font-size: 16px;
    }
  }
}