<header class="workspace-header">
  <a class="brand" routerLink="/workspace" aria-label="DABubble home">
    <span class="brand-mark">D</span>
    <span>DABubble</span>
  </a>

  <app-search-box />

  <div class="user-area">
    <button
      type="button"
      class="profile-button"
      [disabled]="!profileEnabled"
      (click)="profileRequested.emit()"
    >
      <app-avatar [avatarId]="avatarId" [name]="displayName" size="small" />
      <span>{{ displayName }}</span>
    </button>
    <button type="button" (click)="logoutRequested.emit()">Log out</button>
  </div>
</header>
